<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flash Me!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
</head>
<body class="container">
    <header>
        <nav id="wel-nav">
            <h1>Flash Me</h1>
            <div id="right-nav">
                {{#if isLoggedIn}}
                    <a href="/feed">Feed</a>
                {{else}}
                    <button id="sign-btn">Sign Up!</button>
                    <a href="/login">Log In</a>
                {{/if}}
            </div>
        </nav>
    </header>
    <main>
        {{#if showLoginForm}}
            {{> loginForm}}
        {{else if showSignupForm}}
            {{> signupForm}}
        {{else if showAboutPage}}
            <h2>About Us</h2>
            <p>Welcome to our website. We strive to provide the best experience for our users.</p>
        {{else}}
            <h2 id="flash-main">FLASH ME!</h2>
        {{/if}}
    </main>
    <footer id="flash-footer">
        <p>For Your Flashing Needs!</p>
    </footer>
    <script src="../../public/js/main.js"></script>
</body>
</html>