<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/style.css"> 
</head>
<div>
  <nav id="wel-nav">
    <h1>Flash Me Feed!</h1>
    <div id="right-nav">
    <button class="nav-btn">View Profile</button>
    <button class="nav-btn">Logout</button>
    </div>
  </nav>
  <div class="collections horizontal-line">
    <div class="collection-feed">{{title}} by {{username}}</div>
</div>
</div>