<h2 id="about">About Us</h2>
<p id="about-p">Welcome to Flash Me! Create and view carefully crafted and beautiful flashcards. Sign up or login to view the feed of all flashcards being made right now! Post and favorite helpful coding terms, questions and more. We hope you enjoy! This website has been made by coders for coders.</p>