<header>
      <nav class="feed-nav">
        <h1>HELLO, {{ username }}!</h1>
        <div id="user-nav">
            <a href="/create"><button id="create-btn">CREATE FLASHCARDS</button></a>
            <a href="/profile" class="pro-btn">PROFILE</a>
            <a href="/" class="pro-btn">BACK TO HOMEPAGE</a>
        </div>
      </nav>
    </header>
   <main id="feed-display">
    {{#each collections as |collection|}}
        <a href="/collection/{{collection.id}}">
            <div class="flashcard-collection">
                <h2>{{collection.name}}</h2>
                <p>Posted by: {{collection.User.username}}</p>
            </div>
        </a>
    {{/each}}
</main>