<form>
      <div>
        <label class="login" for="username-login">USERNAME:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div>
        <label class="login" for="password-login">PASSWORD:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button id="login-btn" type="submit">Login!</button>
      </div>
    </form>