<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../public/css/style.css"> 
<div>
    <nav id="wel-nav">
      <h1>Username</h1>
      <div id="right-nav">
      <button class="nav-btn">Back to Feed</button>
      <button class="nav-btn">Logout</button>
      </div>
    </nav>
</div>
  
  <div class="horizontal-line">
    <div>
      <h2>Username's Collection</h2>
      <h2>Favorites</h2>
      <button>Create New Collection!</button>
    </div>
  </div>

