<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flash Me!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body class="container">
    <header>
      <nav class="feed-nav">
        <h1>{{ username }}</h1>
        <div id="user-nav">
            <button id="create-btn">CREATE FLASHCARDS</button>
            <a href="/feed" class="pro-btn">FEED</a>
            <a class="pro-btn">VIEW FAVORITES</a>
        </div>
      </nav>
    </header>
    <main id="feed-display">
        <div class="flashcard-collection">
                <h2>{{title}}</h2>
            </div>
    </main>
    <footer id="flash-footer">
      <p></p>
    </footer>
  </body>
</html>