<header>
      <nav class="feed-nav">
        <h1>{{ username }}</h1>
        <div id="user-nav">
            <button id="create-btn">CREATE FLASHCARDS</button>
            <a href="/feed" class="pro-btn">FEED</a>
            <a class="pro-btn">VIEW FAVORITES</a>
        </div>
      </nav>
    </header>
    <main id="feed-display">
        <div class="flashcard-collection">
                <h2>{{title}}</h2>
            </div>
    </main>