 <h2 id="signup-header">SIGN UP!</h2>
<form class="signup-form">
      <div>
        <label class="login" for="username-login">USERNAME:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div>
        <label class="login" for="username-login">EMAIL:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div>
        <label class="login" for="password-login">PASSWORD:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button id="login-btn" type="submit">Sign Up!</button>
      </div>
</form>
<script src="/js/signup.js"></script>